<lib-simple-header></lib-simple-header>
<main [class]="sheet.classes.main">
  <div>
    <lib-fixed-list [items]="galleriesToListItems(galleries)">
    </lib-fixed-list>
  </div>
  <div>
    <lib-action-bar>
      <lib-action-bar-body>
        <div [class]="sheet.classes.action">
          add gallery
          <button
            mat-mini-fab
            color="accent"
            (click)="add()"
            title="add gallery">
            <mat-icon>add gallery</mat-icon>
          </button>
        </div>
        <div [class]="sheet.classes.action">
          invite someone
          <button
            mat-mini-fab
            color="accent"
            (click)="invite()"
            title="invite someone">
            <mat-icon>group_add</mat-icon>
          </button>
        </div>
        <div [class]="sheet.classes.action">
          upload photos
          <button
            mat-mini-fab
            color="accent"
            (click)="upload()"
            title="upload photos">
            <mat-icon>cloud_upload</mat-icon>
          </button>
        </div>
        <div [class]="sheet.classes.action">
          sign out
          <button
            mat-mini-fab
            color="accent"
            (click)="logout()"
            title="logout">
            <mat-icon>power_settings_new</mat-icon>
          </button>
        </div>
      </lib-action-bar-body>
    </lib-action-bar>
  </div>
</main>